force-app/main/default/flows/ServiceAppointment_Email_Sender.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Confirmation_Email</name>
        <label>Confirmation Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AppointmentEmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailType</name>
            <value>
                <stringValue>CONFIRMATION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AppointmentEmailService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X12_HR_Reminder</name>
        <label>12 HR Reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AppointmentEmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailType</name>
            <value>
                <stringValue>REMINDER_12H</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AppointmentEmailService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X24_HR_Reminder</name>
        <label>24 HR Reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AppointmentEmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailType</name>
            <value>
                <stringValue>REMINDER_24H</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AppointmentEmailService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>ServiceAppointment - Email Sender {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceAppointment - Email Sender</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApptBookingInfoUrl</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X24_hours_before_Appt_email</name>
            <connector>
                <targetReference>X24_HR_Reminder</targetReference>
            </connector>
            <label>24 hours before Appt email</label>
            <offsetNumber>-24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SchedStartTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X12_hours_before_Appt_email</name>
            <connector>
                <targetReference>X12_HR_Reminder</targetReference>
            </connector>
            <label>12 hours before Appt email</label>
            <offsetNumber>-12</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SchedStartTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
